extends layout

block content
  h1= title
  form(name="generator", method="post", action="/generate")
    div
      p(id="guide") ふりがなをつけたい文章（残り500字）
      textarea(name="sentence")

    button(type="submit" id="submit") 送信
  div
    p HTMLマークアップ
    textarea(id="result") #{result}
  button(id="showExample") 表示例

  div
    p(id="frame")

  script(src="/javascripts/front.js")