extends layout

block content
  h1= title
  form(method="post", action="/generate")
    div
      p ふりがなをつけたい文章
      textarea(name="sentence")

    button(type="submit") 送信
  div
    p 結果
    textarea(id="result") #{result}